.card img{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.card h1{
    color: white;
    font-size: 64px;
}

.card h2{
    margin-top: 1.5rem;
    font-size: 32px;
}

.card h2, .card p {
    color: #333333;
}

.card p {
    font-size: 18px;
}