.inicio.inicio--sobre p{
    font-size: 18px;
}

.planos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}

.planos h1{
    font-size: 28px;
    font-weight: 400;
    margin: 2rem 0;
}

.planos-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
}